# .clangd
CompileFlags:
  Add:
    # 1. Force C++23 globally
    - -std=c++23
    - -stdlib=libc++
    - -Wall
    - -fprebuilt-module-path=build/
    - -fprebuilt-module-path=std/

  Compiler: clang++

# 4. Force .cppm files to be treated as Module Interfaces
# (Fixes "Unknown type name 'module'" errors)
---
If:
  PathMatch: .*\.cppm

CompileFlags:
  Add:
    - -x
    - c++-module
